<!DOCTYPE html>
<html>
<head>
    <title>Welcome to CarConnect360</title>
</head>
<body>
    <h1>Welcome to CarConnect360</h1>
    <p>This is the main landing page of our application.</p>
</body>
</html>
