.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; /* Ensure any overflow is hidden */
  
}

.wide-img {
  width: 80%; /* 80Adjusts the image width to 80% of the container */
  height: 250px; /* Sets a fixed height */
  /*object-fit: cover;*/
  object-fit: cover;
  
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .wide-img {
    width: 90%; /* Adjusts the width for smaller screens */
    height: 200px; /* Adjusts the height for smaller screens */
  }
}

@media (max-width: 768px) {
  .wide-img {
    width: 100%; /* Adjusts the width for even smaller screens */
    height: 150px; /* Adjusts the height for even smaller screens */
  }
}


.taller-img {
  height: auto; /* Ensures the image maintains its aspect ratio */
  max-height: 380px; /* Adjust the max-height value to make the image taller */
}
